.footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
}